<!DOCTYPE html>
<html ng-app="search-jobs">
    <head>
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>This is a standard title</title>
        <script async src="../libs/angular-1.5.8.min.js"></script>
        <script async src="../libs/jquery-3.1.1.min.js"></script>
        <script async src="../MyScript.js"></script>
        <link rel="stylesheet" href="../stylesheet.css">

        <!-- Links to the bootstrap and the bootcards. Use only one bootcard stylesheet, based on what OS we're using -->
        <link rel="stylesheet" href="../libs/bootstrap_3.3.4.min.css">

        <!-- Get some icons for simplicity / style -->
        <link rel="stylesheet" href="../libs/font-awesome-4.6.3/css/font-awesome.min.css">
        <!--<link rel="stylesheet" href="libs/bootcards-ios.min.css"> -->
        <link rel="stylesheet" href="../libs/bootcards-desktop.min.css">
        <!--<link rel="stylesheet" href="libs/bootcards-android.min.css">-->

    </head>
    <body>
        <!-- Begin Top NavBar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!--
                    Begin Button
                        - navbar-toggle: toggable navbar
                        - callapse: we can collapse this with bootcard js file
                    -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                <button type="button" class="btn btn-default btn-back navbar-left pull-left" onclick="history.back()">
                    <i class="fa fa-lg fa-chevron-left"></i>
                    <span>Back</span>
                </button>
                <button type="button" class="btn btn-default btn-menu pull-right" data-toggle="offcanvas">
                    <i class="fa fa-lg fa-bars"></i>
                    <span>Menu</span>
                </button>
                <a class="navbar-brand no-break-out" title="Job Board v{{getAppVersion}}" href="../index.html">Job Board</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="jobs.html">
                                <i class="fa fa-cubes"></i>
                                Look Up Jobs
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-building-o"></i>
                                Companies
                            </a>
                        </li>
                        <li>
                            <a href="settings.html">
                                <i class="fa fa-gears"></i>
                                My Account
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="navmenu offcanvas offcanvas-left">
                  <ul class="nav">
                      <li class="active">
                          <a href="jobs.html">
                              <i class="fa fa-cubes"></i>
                              Look Up Jobs
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-building-o"></i>
                              Companies
                          </a>
                      </li>
                      <li>
                          <a href="settings.html">
                              <i class="fa fa-gears"></i>
                              My Account
                          </a>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="container" ng-controller="display_seg">
            <ul class="nav nav-pills nav-justified">
                <li class={{prog_dis_class}} role="presentation">
                    <a ng-click="displayProg()">Programming Jobs</a>
                    <div class="bootcards-list" ng-show="progShow">
                        ... Your bootcards List goes here ...
                        <div class="panel panel-default">
                            <div class="list-group">
                                <a class="list-group-item" href="#">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <i class="fa fa-3x fa-building-o pull-left"></i>
                                            <h4 class="list-group-item-heading">Some Header</h4>
                                            <p class="list-group-item-text">Some Item text</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class={{writ_dis_class}} role="presentation">
                    <a ng-click="displayWrit()">Writing Jobs</a>
                    <div ng-show="writ-show" class="col-sm-7 bootcards-cards">
                        ... Your bootcards Cards go here ...
                    </div>
                </li>
                <li class={{all_dis_class}} role="presentation">
                    <a>All Jobs</a>
                </li>
            </ul>
        </div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="btn-group">
                    <a href="jobs.html" class="btn btn-default active">
                        <i class="fa fa-2x fa-cubs"></i>
                        Look Up Jobs
                    </a>
                    <a href="#" class="btn btn-default">
                        <i class="fa fa-2x fa-building-o"></i>
                        Companies
                    </a>
                    <a href="settings.html" class="btn btn-default">
                        <i class="fa fa-2x fa-gears"></i>
                        My Account
                    </a>
                </div>
                <div class="bootcards-desktop-footer clearfix">
                    <p class="pull-left">Text for desktop footer goes here</p>
                    <p class="pull-right">More text for desktop footer goes here</p>
                </div>
            </div>
        </div>
        <!-- Need to load javascript libraries -->
        <script src="../libs/bootstrap_3.3.5.min.js"></script>
        <script src="../libs/bootcards_1.1.2.min.js"></script>
        <script>
        /*
* Initialize Bootcards.
*
* Parameters:
* - offCanvasBackdrop (boolean): show a backdrop when the offcanvas is shown
* - offCanvasHideOnMainClick (boolean): hide the offcanvas menu on clicking outside the off canvas
* - enableTabletPortraitMode (boolean): enable single pane mode for tablets in portraitmode
* - disableRubberBanding (boolean): disable the iOS rubber banding effect
* - disableBreakoutSelector (string) : for iOS apps that are added to the home screen:
                  jQuery selector to target links for which a fix should be added to not
                  allow those links to break out of fullscreen mode.
*/

bootcards.init( {
offCanvasBackdrop : true,
offCanvasHideOnMainClick : true,
enableTabletPortraitMode : true,
disableRubberBanding : true,
disableBreakoutSelector : 'a.no-break-out'
});
        </script>
    </body>
</html>
