<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Awato - Your Job Board</title>
    <script src="../libs/angular-1.5.8.min.js"></script>
    <script src="../libs/jquery-3.1.1.min.js"></script>
    <script src="../libs/x2js-master/xml2json.min.js"></script>
    <script src="../MyScript.js"></script>

    <!-- Links to the bootstrap and the bootcards. Use only one bootcard stylesheet, based on what OS we're using -->
    <link rel="stylesheet" href="../libs/bootstrap_3.3.4.min.css">

    <!-- Get some icons for simplicity / style -->
    <link rel="stylesheet" href="../libs/font-awesome-4.6.3/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="libs/bootcards-ios.min.css"> -->
    <link rel="stylesheet" href="../libs/bootcards-desktop.min.css">
    <!--<link rel="stylesheet" href="libs/bootcards-android.min.css">-->

    <link rel="stylesheet" href="../stylesheet.css">

</head>

<body>
    <!-- Begin Top NavBar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!--
                    Begin Button
                        - navbar-toggle: toggable navbar
                        - callapse: we can collapse this with bootcard js file
                -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--
                <button type="button" class="btn btn-default btn-back navbar-left pull-left" onclick="history.back()">
                    <i class="fa fa-lg fa-chevron-left"></i>
                    <span>Back</span>
                </button>
                <button type="button" class="btn btn-default btn-menu pull-right" data-toggle="offcanvas">
                    <i class="fa fa-lg fa-bars"></i>
                    <span>Menu</span>
                </button>
                -->
                <a class="navbar-brand no-break-out" title="Job Board v{{getAppVersion}}" href="../index.html">Job Board</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="jobs.html">
                            <i class="fa fa-cubes"></i> Look Up Jobs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-building-o"></i> Companies
                        </a>
                    </li>
                    <li>
                        <a href="settings.html">
                            <i class="fa fa-gears"></i> My Account
                        </a>
                    </li>
                </ul>
            </div>
            <!--
                <div class="navmenu offcanvas offcanvas-left">
                  <ul class="nav">
                      <li class="active">
                          <a href="jobs.html">
                              <i class="fa fa-cubes"></i>
                              Look Up Jobs
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-building-o"></i>
                              Companies
                          </a>
                      </li>
                      <li>
                          <a href="settings.html">
                              <i class="fa fa-gears"></i>
                              My Account
                          </a>
                      </li>
                  </ul>
              </div>
            -->
        </div>
    </div>
    <!-- End Top NavBar -->

    <!-- Begin Tabs -->
    <div class="container" ng-controller="myCtrl">
        <h1>Job Listings</h1>
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a class="tab-display" data-toggle="tab" href="#ProgrammingJobs" ng-click="getUpdate($event)">Programming Jobs</a>
            </li>
            <li><a class="tab-display" data-toggle="tab" href="#WritingJobs" ng-click="getUpdate($event)">Writing Jobs</a>
            </li>
            <li><a class="tab-display" data-toggle="tab" href="#AllJobs" ng-click="getUpdate($event)">All Jobs</a>
            </li>
        </ul>
    </div>
    <!-- End Tabs -->

    <!-- Begin Main Content -->
    <div class="container">
        <div class="tab-content" ng-controller="tabParent">
            <div ng-controller="parseString" class="tab-pane fade in active" id="ProgrammingJobs">
                <h3>Programming Jobs</h3>
                <p>Here are some programming jobs</p>
                <div class="bootcards-list">
                    <div class="list-group">
                        <div class="row">
                            <div ng-repeat="response in jsonResponse">
                                <div ng-repeat="myResults in response.results.result">
                                    <div class="col-sm-6">
                                        <div ng-if="$index % 2 == 0"></div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center">{{myResults.jobtitle}}</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Company</p>
                                                    <h4 class="list-group-item-heading">{{myResults.company}}</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Location</p>
                                                    <h4 class="list-group-item-heading">{{myResults.formattedLocation}}</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">{{myResults.snippet}}</p>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <small>Posted: {{myResults.formattedRelativeTime}}</small>
                                                <div class="text-right">
                                                    <small><a class="btn btn-default panel-button-custom"href="{{myResults.url}}">Go To Post</a></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="parseString" class="tab-pane fade" id="WritingJobs">
                <h3>Writing Jobs</h3>
                <p>These are the writing jobs</p>
                <div class="bootcards-list">
                    <div class="list-group">
                        <div class="row">
                            <div ng-repeat="response in jsonResponse">
                                <div ng-repeat="myResults in response.results.result">
                                    <div class="col-sm-6">
                                        <div ng-if="$index % 2 == 0"></div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center">{{myResults.jobtitle}}</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Company</p>
                                                    <h4 class="list-group-item-heading">{{myResults.company}}</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Location</p>
                                                    <h4 class="list-group-item-heading">{{myResults.formattedLocation}}</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">{{myResults.snippet}}</p>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <small>Posted: {{myResults.formattedRelativeTime}}</small>
                                                <div class="text-right">
                                                    <small><a class="btn btn-default panel-button-custom"href="{{myResults.url}}">Go To Post</a></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-controller="parseString" class="tab-pane fade" id="AllJobs">
                <h3>All Jobs</h3>
                <p>These are all of Indeed's Jobs</p>
                <div class="bootcards-list">
                    <div class="list-group">
                        <div class="row">
                            <div ng-repeat="response in jsonResponse">
                                <div ng-repeat="myResults in response.results.result">
                                    <div class="col-sm-6">
                                        <div ng-if="$index % 2 == 0"></div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading clearfix">
                                                <h3 class="text-center">{{myResults.jobtitle}}</h3>
                                            </div>
                                            <div class="list-group">
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Company</p>
                                                    <h4 class="list-group-item-heading">{{myResults.company}}</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">Location</p>
                                                    <h4 class="list-group-item-heading">{{myResults.formattedLocation}}</h4>
                                                </div>
                                                <div class="list-group-item">
                                                    <p class="list-group-item-text">{{myResults.snippet}}</p>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <small>Posted: {{myResults.formattedRelativeTime}}</small>
                                                <div class="text-right">
                                                    <small><a class="btn btn-default panel-button-custom"href="{{myResults.url}}">Go To Post</a></small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Content -->

    <!-- Begin Navbar Footer -->
    <!--
<div class="navmenu offcanvas offcanvas-left">
                  <ul class="nav">
                      <li class="active">
                          <a href="jobs.html">
                              <i class="fa fa-cubes"></i>
                              Look Up Jobs
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-building-o"></i>
                              Companies
                          </a>
                      </li>
                      <li>
                          <a href="settings.html">
                              <i class="fa fa-gears"></i>
                              My Account
                          </a>
                      </li>
                  </ul>
              </div> -->
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <!--<div class="btn-group">
                    <a href="jobs.html" class="btn btn-default active">
                        <i class="fa fa-2x fa-cubs"></i>
                        Look Up Jobs
                    </a>
                    <a href="#" class="btn btn-default">
                        <i class="fa fa-2x fa-building-o"></i>
                        Companies
                    </a>
                    <a href="settings.html" class="btn btn-default">
                        <i class="fa fa-2x fa-gears"></i>
                        My Account
                    </a>
                </div> -->
            <div class="bootcards-desktop-footer clearfix">
                <p class="pull-left">Text for desktop footer goes here</p>
                <p class="pull-right">More text for desktop footer goes here</p>
            </div>
        </div>
    </div>
    <!-- End Navbar Footer -->

    <!-- Need to load javascript libraries -->
    <script src="../libs/bootstrap_3.3.5.min.js"></script>
    <script src="../libs/bootcards_1.1.2.min.js"></script>
    <script>
        /*
        * Initialize Bootcards.
        *
        * Parameters:
        * - offCanvasBackdrop (boolean): show a backdrop when the offcanvas is shown
        * - offCanvasHideOnMainClick (boolean): hide the offcanvas menu on clicking outside the off canvas
        * - enableTabletPortraitMode (boolean): enable single pane mode for tablets in portraitmode
        * - disableRubberBanding (boolean): disable the iOS rubber banding effect
        * - disableBreakoutSelector (string) : for iOS apps that are added to the home screen:
                          jQuery selector to target links for which a fix should be added to not
                          allow those links to break out of fullscreen mode.
        */

        bootcards.init({
            offCanvasBackdrop: true,
            offCanvasHideOnMainClick: true,
            enableTabletPortraitMode: true,
            disableRubberBanding: true,
            disableBreakoutSelector: 'a.no-break-out'
        });
    </script>
    <script src="../MyScript.js"></script>
</body>

</html>
